.blue-block{
    margin: 0 0 50px 0;
    .header-container{
        background: #0059b2;
        border-bottom: 3px solid #007fff;
        border-left: 3px solid #007fff;
        border-top: 3px solid #007fff;
        color: #fff;
        float: left;
        font-size: 175%;
        font-weight: 500;
        margin: 64px 0 0;
        padding: 0 0 0 6.3%;
        width: 28.3%;
    }
    .header{
        display: table; 
        height: 281px;       
    }
    .text{
        background: #007fff;
        color: #fff;
        float: left;
        font-size: 115%;
        min-height: 314px;
        padding: 54px 8% 69px 5.7%;
        width: 50.5%;
        p{
            font-size: 120%;
            line-height: 129%;
            margin: 0 0 27px;
            font-weight: 300;
        }
    }
    .button{
        background: rgba(255,255,255,0);
        border: 1px solid #fff;
        border-radius: 32px;        
        box-shadow: 0px 6px 5px -5px rgba(20, 22, 24, 0);
        color: #fff;
        cursor: pointer;
        display: table;
        font-family: Roboto, sans-serif;
        font-size: 105%;
        margin: 50px auto 0;
        outline: none;
        padding: 14px 0px 15px 0;
        position: relative;
        transition: 0.3s ease;
        width: 278px;
        &:hover{
            background: rgba(255, 255, 255, 1);
            color: #007fff;
        }
        &:active{
            top: 2px;
        }
        &--active{
            background: #fff;
            box-shadow: 0px 6px 5px -5px rgba(20, 22, 24, .25);
            color: #007fff;
            margin: 120px auto 0;
            &:hover{
                box-shadow: 0px 6px 5px -5px rgba(20, 22, 24, 0);
            }
        }
    }
}

@media(max-width: 1480px){
    .blue-block{
        .text{
            width: 50.5%;
        }
    }
}

@media(max-width: 880px){
    .blue-block{
        background: #007fff;
        .header-container{
            border: none;
            float: none;
            margin: 0;
            padding: 0 13%;
            text-align: center;
            width: 74%;
        }
        .text{
            float: none;
            width: 83.5%;
        }
        .header{
            width: 100%;
        }
    }
}

@media(max-width: 640px){
    .blue-block{
        .header{
            height: 244px;
        }
    }
}