footer{
    background: #0056c0;
    color: #fff;
    padding: 39px 0 24px;
    width: 100%;
    .container{
        margin: 0 auto;
        max-width: 1146px;
    }
    .text{
        text-align: center;
        font-size: 105%;
    }
    .col-1{
        float: left;
        width: 59%;
        .logo{
            img{
                float: left;
                margin: 0px 11px 0 0;
            }
            .logo-text{
                float: left;
                font-size: 145%;
                font-weight: 500;
                margin: 33px 0 0 0;
            }
        }
        .contacts{
            font-size: 125%;
            line-height: 125%;
            margin: 64px 0 0 0;
            .contact{
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .social{
            margin: 80px 0 0 0;
            .social-icon{
                border: 1px solid #fff;
                border-radius: 40px;
                display: table;
                float: left;
                height: 46px;
                margin: 0 28px 0 0;
                position: relative;
                text-decoration: none;
                transition: 0.25s;
                width: 46px;
                &:hover{
                    background: #fff;
                }
                &:hover .normal{
                    opacity: 0;
                }
                &:hover .hover{
                    opacity: 1;
                }
                img{
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: 0.25s;
                }
                .normal{
                    opacity: 1;
                }
                .hover{
                    opacity: 0;
                }
            }
        }
    }
    .col-2{
        float: right;
        text-align: center;
        width: 39%;
        .header{
            font-size: 190%;
            padding: 19px 0 0 0;
        }
        .events{
            margin: 47px 0 0 0;
            .event{
                border: 2px solid #fff;
                border-radius: 84px;
                display: table;
                float: left;
                margin: 0 1% 0;
                width: 28%;
                &:nth-child(2n){
                    margin: 0 4% 0;
                }
            }
        }
        .input-container{
            margin: 66px 0 0 0;
            label{
                display: block;
                margin: 0 0 14px 0;
            }
        }
        input{
            border: none;
            font-size: 105%;
            outline: none;
            padding: 15px 0 12px 13px;
            width: 60%;
        }
        .footer-input-button{
            background: none;
            border: 1px solid #fff;
            border-radius: 35px;
            color: #fff;
            cursor: pointer;
            font-size: 105%;
            margin: 0 0 0 2%;
            outline: none;
            padding: 14px 0 11px 0;
            position: relative;
            transition: 0.25s;
            width: 30%;
            &:hover{
                background: #fff;
                color: #000;
            }
            &:active{
                top: 2px;
            }
        }
    }
    .bottom{
        margin: 63px 0 0;
    }
}

@media(max-width: 1250px){
    footer{
        .col-1{
            float: none;
            text-align: center;
            width: 100%;
            .logo{
                .logo-text{
                    float: none;
                    margin: 4px auto 0;
                }
                img{
                    float: none;
                    margin: 0 auto;
                }
            } 
            .contacts{
                text-align: center;
                .social-icon{
                    display: inline-block;
                    float: none;
                    margin: 0 11px;
                }
            }
        }
        .col-2{
            float: none;
            width: 100%;
            .events{
                display: table;
                margin: 0 auto;
                width: 90%;
                .event{
                    border-radius: 200px;

                }
            }
            .header{
                margin: 40px 0 0 0;
                padding: 0 0 27px;
            }
        }
        .bottom{
            margin: 63px auto 0;
            max-width: 580px;
        }
    }
}

@media(max-width: 900px){
    footer{
        .col-2{
            input{
                display: block;
                float: none;
                margin: 0 auto 19px;
                max-width: 500px;
                width: 86%;
            }
        }
    }
}

@media(max-width: 750px){
    footer{
        .col-1{
            .contacts{
                margin: 32px 0 0 0;  
            }
            .social{
                margin: 46px 0 0 0;
            }
        }
        .col-2{
            .header{
                margin: 25px 0 0;
                padding: 0 0 22px;
            }
            .input-container{
                margin: 48px 0 0;
            }
        }
        .bottom{
            margin: 46px auto 0;
        }
    }
}

@media(max-width: 670px){
    footer{   
        padding: 39px 5% 24px;
        width: 90%;
        .col-2{
            .footer-input-button{
                margin: 0;
                width: 86%;
            }
            input{
                padding: 15px 0 12px 2%;
                width: 84%;
            }
        }        
        .bottom{
            width: 86%;
        }
    }
}

@media(max-width: 580px){
    footer{
        .col-1{
            .logo{
                .logo-text{
                    max-width: 360px;
                }
            }
        }
    }
}

@media(max-width: 520px){
    footer{
        .col-2{
            .events{
                .event{
                    float: none;
                    margin: 0 auto 38px !important;
                    width: 144px;
                }
            }
        }
    }
}