.index-events{
    .container{
        margin: 0 auto;
        max-width: 1146px;
    }
    &__col{
        float: left;
        &--1{
            width: 70%;            
        }
        &--2{           
            position: relative;
            width: 30%;
            .container{
                bottom: 0;
                position: absolute;
                width: 100%;
                img{
                    display: block;
                    margin: 104px auto 0; 
                }
                .decoration{
                    margin: 28px auto 45px;
                }
                .header{
                    color: #515151;
                    font-size: 185%;
                    text-align: center;
                }
            }
            .tab-container{
                margin: 29px 0 0 0;
            }
            .tab{                    
                border: 2px solid #848283;
                border-radius: 50px;
                cursor: pointer;
                display: table; 
                height: 79px;
                margin: 0 auto 9px;
                position: relative;
                transition: .25s;
                width: 79px;
                img{
                    left: -3px;
                    margin: 0;
                    position: absolute;
                    top: -5px;
                    transition: .25s;
                }
                .normal{
                    opacity: 1;
                }
                .active{
                    opacity: 0;
                }
                &:hover{
                    background: #007fff;
                    border: 2px solid #007fff;
                    .normal{
                        opacity: 0;
                    }
                    .active{
                        opacity: 1;
                    }
                }
                &:hover ~ .tab-text{
                    color: #007fff;
                }
            }
            .tab-text{
                color: #848283;
                font-size: 125%;
                margin: 0 auto;
                text-align: center;
                width: 58%;
            }
        }
    }
    &__button{
        background: 0 0;
        border: 1px solid #e41300;
        border-radius: 56px;
        color: #e41300;
        display: table;
        font-size: 120%;
        margin: 52px auto 0;
        padding: 17px 39px 14px;
        text-decoration: none;
        transition: 0.25s;
        &:hover{
            background: #e41300;
            color: #fff;
        }

    }
    .event{
        height: 298px;
        margin: 21px 0 0 0;
        position: relative;
        &:first-child{
            margin: 0;
        }
        &:nth-child(2n){
            .info{
                background: rgba(0, 146, 70, .8);
            }
        }
        &:nth-child(3n){
            .info{
                background: rgba(206, 43, 55, .8);
            }
        }
    }
    .info{
        background: rgba(0,127,255,.8);
        color: #fff;
        display: block;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 55%;
        .table-cell{
            padding: 0 20% 0;
        }
        .text{
            font-size: 150%;
        }
        .date{
            font-size: 120%;
        }
        .plus{
            bottom: 23px;
            cursor: pointer;
            position: absolute;
            right: 12%;
            z-index: 1;
        }
        .table{
            display: table;
            height: 100%;
            position: relative;
            width: 100%;
        }
    }
}

@media(max-width: 1250px){
    .index-events{
        .container {
            margin: 27px auto 0;
            width: 94%;
        }
    } 
    .index-events__button ~ img{
        max-width: 84%;
    }
}

@media(max-width: 900px){
    .index-events{
        .info{
            width: 100%;
            .table-cell{
                padding: 0;
                text-align: center;
            }
            .plus{
                margin-right: -31px;
                right: 50%;
            }
        }
    }

    .index-events__col--1 {
        width: 50%;
    }
    .index-events__col--2 {
        width: 50%;
    }
}

@media(max-width: 750px){
    .index-events__col--1 {
        width: 100%;
    }
    .index-events__col--2 {
        width: 100%;
        .container{
            position: relative;
        }
    }
}