.member-to-member-popup{
    background: #fff;
    display: none;
    left: 50%;
    margin-left: -603px;
    padding: 96px 72px 323px 73px;
    position: absolute;
    top: 140px;
    width: 1060px;
    z-index: 5;
    .close{
        cursor: pointer;
        padding: 15px;
        position: absolute;
        right: 66px;
        top: 50px;
    }
    .header{
        font-size: 170%;
        font-weight: 500;
        padding: 0 0 8px 14px;
    }
    .text{
        border-bottom: 1px solid #111;
        border-top: 1px solid #111;
        margin: 0 0 48px 0;
        padding: 0 0 39px 14px;
    }
    p{
        color: #737474;
        margin: 31px 0 0 0;
        font-size: 150%;
        line-height: 120%;
    }
    ul{
        margin: 0;
        padding: 32px 0 0 5px;
        li{
            font-size: 150%;
            list-style: none;
            padding: 0 0 0 12px;
            position: relative;
            margin: 4px 0 0 0;
            &:before{
                content: "-";
                left: -5px;
                position: absolute;
            }
        }
    }
    .map{
        background: #e41300;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 45px;
        display: table;
        font-size: 125%;
        float: right;
        margin: 0;
        outline: none;
        padding: 16px 50px 14px;
        position: relative;
        transition: .25s;
    }
    .contacts{
        border-bottom: 1px solid #000;
        margin: 0 0 45px 0;
        padding: 0 0 40px 14px;
        .contact-face{
            color: #737474;
            font-size: 150%;
            line-height: 115%;
            margin: 0 0 32px 0;
            max-width: 422px;
        }
        .header-2{
            font-size: 165%;
            font-weight: 500;
            float: left;
            line-height: 130%;
            width: 560px;
        }
        .address{
            background: url(../img/map.png) no-repeat 0px 42px;
            font-size: 150%;
            margin: 0 0 14px 0;
            padding: 48px 0 12px 72px;
        }
        .mobile-fax{
            background: url(../img/phone-black.png) no-repeat 0px 11px;
            font-size: 150%;
            padding: 0 0 0px 72px;
        }
        .word{
            display: inline-block;
            width: 108px;
        }
        .mobile{
            a{
                color: #000;
                text-decoration: none;
            }
        }
        .email-container{  
            background: url('../img/email-black.png') no-repeat 0 13px;
            font-size: 150%;
            line-height: 125%;
            margin: 26px 0 0 -3px;
            padding: 0 0 0 75px;          
            a{
                color: #000;
                display: block;
                text-decoration: none;
            }
        }
        .site{
            background: url('../img/site.png') no-repeat 0 0px;
            font-size: 150%;
            margin: 29px 0 0 0;
            padding: 0 0 0 72px;
        }
    }
}

.pdf-2{
    background: url(../img/pdf.png) no-repeat 14px 8px;
    color: #000;
    display: block;
    font-size: 150%;
    margin: 4px 0 0;
    padding: 12px 0 12px 87px;
    text-decoration: none;
}


@media(max-width: 1340px){
    .member-to-member-popup{
        left: 0;
        margin: 0 0 0 3%;
        padding: 96px 5% 171px 3%;
        width: 86%;
    }
}

@media(max-width: 1100px){
    .member-to-member-popup{
        .contacts{
            .header-2{
                float: none;
                width: auto;
            }
            .map{
                float: none;
                margin: 16px 0 0 0;
            }
        }
    } 
}

@media(max-width: 670px){
    .member-to-member-popup{
        font-size: 70%;
        padding-top: 70px;
        .close{
            right: 3%;
            top: 12px;
        }
        .contacts{
            .mobile-fax{
                background: url(../img/phone-black.png) no-repeat 0 6px;
                padding: 0 0 12px 43px;
            }
            .address{
                background: url(../img/map.png) no-repeat 0 42px;
                padding: 48px 0 12px 42px;
            }
            .email-container{
                padding: 0 0px 8px 46px;
            }
            .site{
                padding: 0 0 12px 44px;
            }
        }
    }

    .pdf-2{
        padding: 4px 0 23px 62px;
    }
}