.menu{
    position: absolute;
    top: 29px;
    width: 100%;
    .wrapper{
        position: relative;
    }
    &__logo{
        display: table;
        float: left;
        padding: 0 0 0 30px;
    }
    &__menu{
        background: rgba(255, 255, 255, 0.9);
        border-radius: 35px 0 0 35px;
        display: block;
        float: right;
        list-style: none;
        margin: 21px 0 0 0;
        padding: 0 0 0 17px;         
        li{            
            float: left;
            margin: 0 15px;
            position: relative;

            ul{
                background: rgba(255, 255, 255, 0.8);
                border: 1px solid #3399ff;
                display: none;
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;  
                top: 54px;
                z-index: 2;
                li{
                    display: block;
                    a{
                        display: block;
                        font-size: 95%;
                        font-weight: 400;
                        padding: 3px 2px;
                        text-align: left;
                        text-transform: none;
                        span{
                            position: relative;
                        }
                        .menu-triangle{
                            height: 8px;
                            position: absolute;
                            right: -14px;
                            top: 7px;
                            width: 7px;
                        }
                        img{
                            left: 0;
                            position: absolute;
                            top: 0;
                            transition: 0.25s;
                        }
                        .blue{
                            opacity: 0;
                        }
                        .gray{
                            opacity: 1;
                        }
                        &:hover{
                            .blue{
                                opacity: 1;
                            }
                            .gray{
                                opacity: 0;
                            }
                        }
                    }

                    ul{
                        background: none;
                        border: none;
                        position: relative;
                        top: 0;
                        li{
                            &:first-child a{
                                padding-top: 4px;
                            }
                            &:last-child a{
                                padding-bottom: 4px;
                            }
                            font-size: 85%;
                            a{
                                padding: 4px 2px;
                            }
                        }
                    }
                    &:first-child a{
                        padding-top: 13px;
                    }
                    &:last-child a{
                        padding-bottom: 13px;
                    }
                }
            }
            a{                       
                color: #848283;
                cursor: pointer;
                display: block;
                font-size: 95%;
                font-weight: 600;
                padding: 24px 0 22px 0;                
                text-decoration: none;
                transition: 0.2s;
                &:hover{
                    color: #007fff;
                }
            }
        }
        a.active {
            color: #007fff;
        }
        .login{     
            margin: 0 0 0 15px;
            a{
                background-color: #e51300;
                background-image: url(../img/login.png);
                background-repeat: no-repeat;
                background-position: 16px 18px;
                color: #fff;
                padding: 24px 20px 22px 51px;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}

.submenu-1.active a{
    color: #007fff;
}

.submenu-1 .submenu-1-ul a{
    color: #848283;
}

.submenu-2.active .gray{
    opacity: 0;
}

.submenu-2.active .blue{
    opacity: 1;

}

.submenu-2.active .menu-triangle{
    top: 8px;
    transform: rotate(90deg);
    transition: 0.3s ease;
}

.submenu-2.active a{
    color: #007fff;
}

.submenu-2 .submenu-2-ul a{
    color: #848283;
}

@media(max-width: 1250px){
    .menu__logo{
        float: none;
        margin: 0 auto;
        padding: 0;
    }

    .menu__menu{
        background: #fff;
        border-radius: 35px;
        box-shadow: 0px 5px 18px -2px rgba(100,100,100,.4);
        display: none;
        padding: 0;
        position: absolute;
        top: 117px;
        width: 100%;
        z-index: 3;
        li{            
            border-bottom: 1px solid #efefef;
            float: none;
            margin: 0 auto; 
            text-align: center;
            transition: 0.35s;
            &:first-child{
                border-radius: 30px 30px 0 0;
            }
            &:hover{
                background: #efefef;
            }
            &:hover .submenu-1-ul li{
                background: none;
            }
            ul{
                background: rgba(255,255,255,1);
                li{
                    a{
                        padding: 10px 2px 10px 22px !important;
                    }
                }
            }
            .submenu-2-ul{
                li{
                    a{
                        padding-left: 45px !important;
                    }
                }
            }
        }

        .login{
            border-bottom: none;
            margin: 0;
            a{
                background-position: 30px 18px;
                border-radius: 0 0 30px 30px;
                padding: 24px 51px 22px 51px;
            }
            &:hover{
                background: none;
            }
        }
        .clear{
            border-bottom: none;
        }

        .submenu-1-ul{
            position: relative;
            top: 0px;
            li{
                &:first-child{
                    border-radius: 30px 30px 0 0;
                }
            }

        }
    } 
}

@media(min-width: 1251px){
    .clicked{
        display: block !important;
    }
}

@media(max-width: 670px){
    .menu__logo{
        img{
            width: 77px;
        }
    }
}