doctype html
html
    head
        title CAMIC | Associate popup
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        include includes/black-bg
        div.associate-popup 
            div.close
                img(src="assets/img/close.png" alt="close")
            div.header GAMANA S.R.O.
            div.params
                div.param
                    span.span-1 Settore: 
                    span.span-2  Immobiliare e costruzioni
                div.param
                    span.span-1 Attivitá: 
                    span.span-2  Servizi e gestione immobiliari
                div.param
                    span.span-1 Rappresentante legale: 
                    span.span-2  Danilo Manghi 
                div.param
                    span.span-1 Persona di contatto: 
                    span.span-2  Vera Vasela 
                div.param
                    span.span-1 Socio da: 
                    span.span-2  25/01/2012

            div.contacts
                div.col-1
                    div.address Pařížská 68/9, Josefov, 110 00 Praha 1
                    a.phone(href="tel:224256210") 224 25 62 10
                div.clear
                div.col-1
                    a.email(href="mailto:info@manghigroup.com") info@manghigroup.com
                    a.site(href="http://www.manghigroup.com") www.manghigroup.com
                div.col-2
                    button vedi mappa
                div.clear
            

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")