doctype html
html
    head
        title CAMIC | Associate
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        include includes/header
        include includes/associate-popup
        include includes/black-bg
        include login-popup
        div.main-img(style="background-image: url('assets/img/associate.jpg');" alt="associate")
            
            div.menu    
                div.wrapper 
                    include includes/hamburger
                    div.menu__logo
                        a(href="index.html")
                            img(src="assets/img/logo-transparent.png" alt="logo")
                    ul.menu__menu
                        li.submenu-1
                            a 
                                span LA CAMERA
                            ul.submenu-1-ul
                                li
                                    a(href="company.html") 
                                        span
                                            nobr Chi siamo
                                li.submenu-2
                                    a
                                        span
                                            nobr Organizzazione
                                            div.menu-triangle
                                                img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                                img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                    ul.submenu-2-ul
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Consiglio Direttivo
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Revisori
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Probiri
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Staff
                                li
                                    a(href="request.html") 
                                        span
                                            nobr Richiesta di Patrocinio
                        li
                            a(href="news.html") 
                                span NEWS

                        li
                            a(href="events.html") 
                                span EVENTI E ATTIVITÁ
                        li.submenu-1
                            a
                                span SERVIZI
                            ul.submenu-1-ul
                                li
                                    a(href="services.html") 
                                        span
                                            nobr Attivitá di promozione
                                li
                                    a(href="services-business.html")
                                        span
                                            nobr Servizi alle imprese
                        li
                            a.active(href="associate.html") 
                                span SOCI
                        li
                            a(href="partners.html") 
                                span PARTNER
                        li
                            a(href="projects.html") 
                                span PROGETTI
                        li
                            a(href="gallery.html") 
                                span GALLERY
                        li.login
                            a(href="#") LOGIN
                        li.clear
                    div.clear


            div.search-email-white-container
                div.wrapper
                    include includes/search-email-white
            div.table-cell soci
        div.wrapper.associate
            div.container

                div.tabs
                    div.tab TUTTI
                    div.tab ALFABETICO
                    div.tab SETTORE
                    div.tab NAZIONE
                    div.clear
                
                div.alphabet
                    a(href="#") A
                    a(href="#") B
                    a(href="#") C
                    a(href="#") D
                    a(href="#") E
                    a(href="#") F
                    a.active(href="#") G
                    a(href="#") H
                    a(href="#") I
                    a(href="#") J
                    a(href="#") K
                    a(href="#") L
                    a(href="#") M
                    a(href="#") N
                    a(href="#") O
                    a(href="#") P
                    a(href="#") Q
                    a(href="#") R
                    a(href="#") S
                    a(href="#") T
                    a(href="#") U
                    a(href="#") V 
                    a(href="#") W
                    a(href="#") X
                    a(href="#") Y
                    a(href="#") Z

                div.blocks
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi

                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi

                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi

                    div.block.associate__block 
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi

                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.block.associate__block
                        div.header 037 EASTERN EUROPE S.R.O.
                        div.line
                        div.text Leggi
                    div.clear

                    button.associate-button Carica altri
            div.after-blocks(style="background-image: url('assets/img/services-info.jpg');")
                div.header MEMBER TO MEMBER
                div.text Scopri le promozioni tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                a.link(href="member-to-member.html") Tutte le promozioni
            div.after-blocks(style="background-image: url('assets/img/girl-small.jpg');") 
                div.header COME ASSOCIARSI
                div.text Pochi semplici passi do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.link(href="come-associarsi.html") Scopri di piú
            div.clear
            
        div.slider
            div.header Vetrina Soci
            img.decoration(src="assets/img/header-decoration.png" alt="header decoration")
            include includes/swiper
        
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")