doctype html
html
    head
        title CAMIC | Come Associarsi
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body        
        include includes/header-2
        include includes/black-bg
        include login-popup

        div.menu.fixed    
            div.wrapper 
                div.black(id="hamburger")
                    div.line.line--1
                    div.line.line--2
                    div.line.line--3

                div.menu__logo
                    a(href="index.html")
                        img(src="assets/img/logo-transparent.png" alt="logo")
                ul.menu__menu
                    li.submenu-1
                        a 
                            span LA CAMERA
                        ul.submenu-1-ul
                            li
                                a(href="company.html") 
                                    span
                                        nobr Chi siamo
                            li.submenu-2
                                a
                                    span
                                        nobr Organizzazione
                                        div.menu-triangle
                                            img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                            img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                ul.submenu-2-ul
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Consiglio Direttivo
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Collegio dei Revisori
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Collegio dei Probiri
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Staff
                            li
                                a(href="request.html") 
                                    span
                                        nobr Richiesta di Patrocinio
                    li
                        a(href="news.html") 
                            span NEWS

                    li
                        a(href="events.html") 
                            span EVENTI E ATTIVITÁ
                    li.submenu-1
                        a
                            span SERVIZI
                        ul.submenu-1-ul
                            li
                                a(href="services.html") 
                                    span
                                        nobr Attivitá di promozione
                            li
                                a(href="services-business.html")
                                    span
                                        nobr Servizi alle imprese
                    li
                        a(href="associate.html") 
                            span SOCI
                    li
                        a(href="partners.html") 
                            span PARTNER
                    li
                        a(href="projects.html") 
                            span PROGETTI
                    li
                        a(href="gallery.html") 
                            span GALLERY
                    li.login
                        a(href="#") LOGIN
                    li.clear
                div.clear




        div.breadcrumbs
            div.container
                a(href="associate.html") torna indietro
        div.wrapper.come-associarsi
            div.container
                h1 COME ASSOCIARSI
                p Scarica il moulto per la richiesta di adesione
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 

                div.pdf-block
                    a.pdf-link(href="#") 
                        div.text Scarica Modulo per Persona Fisica 
                        div.img-container
                            img.normal(src="assets/img/pdf.png" alt="pdf")
                            img.active(src="assets/img/pdf-2.png" alt="pdf")
                        div.clear
                div.pdf-block
                    a.pdf-link(href="#") 
                        div.text Scarica Modulo per Persona Giuridica
                        div.img-container
                            img.normal(src="assets/img/pdf.png" alt="pdf")
                            img.active(src="assets/img/pdf-2.png" alt="pdf")
                        div.clear
                div.clear

                div.info
                    div.header PER INFORMAZIONI
                    div.name Katerina Stolinova, 
                    div.profession PR & Communication Manager.
                    a.phone(href="tel:+222015307") 222 015 307
                    a.email(href="mailto:katerina.stolinova@camic.cz") katerina.stolinova@camic.cz
                div.clear

            div.blue-block
                div.header-container
                    div.header
                        div.table-cell PERCHÉ ASSOCIARSI
                div.text 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    div.hidden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                   
                    button.button.blue-block__button Continua a leggere
                div.clear

            div.blue-block
                div.header-container
                    div.header
                        div.table-cell CHI PUÒ ASSOCIARSI
                div.text 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    div.hidden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                   
                    button.button.blue-block__button Continua a leggere
                div.clear

            div.blue-block
                div.header-container
                    div.header
                        div.table-cell QUANTO COSTA L’ASSOCIAZIONE
                div.text 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    div.hidden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                   
                    button.button.blue-block__button Continua a leggere
                div.clear

            div.blue-block
                div.header-container
                    div.header
                        div.table-cell QUANDO TERMINA L’ASSOCIAZIONE
                div.text 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    div.hidden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                   
                    button.button.blue-block__button Continua a leggere
                div.clear
                
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")