doctype html
html
    head
        title CAMIC | Company
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        include includes/header
        include includes/black-bg
        include login-popup


        div.company
            div.main-img(style="background-image: url('assets/img/about-us.jpg');" alt="about us")
                include includes/menu
                div.search-email-white-container
                    div.wrapper
                        include includes/search-email-white
                div.table-cell 
                    div.container
                        h1 chi siamo
                        div.clear
            div.wrapper
                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-story.png" alt="story")
                        div.header 
                            div.table-cell STORIA
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-mission.png" alt="story")
                        div.header 
                            div.table-cell MISSION
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-events.png" alt="story")
                        div.header 
                            div.table-cell 
                                | ATTIVITÁ PER I SOCI
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-services.png" alt="story")
                        div.header 
                            div.table-cell ATTIVITÁ E SERVIZI
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-communication.png" alt="story")
                        div.header 
                            div.table-cell COMUNICAZIONE
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-earth.png" alt="story")
                        div.header 
                            div.table-cell ASSOCAMERESTERO
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-future.png" alt="story")
                        div.header 
                            div.table-cell FUTURO
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-statute.png" alt="story")
                        div.header 
                            div.table-cell STATUTO
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                        a.pdf-link-3(href="#") 
                            div.text-1 Scarica la versione completa
                            div.img-container
                                img.normal(src="assets/img/pdf.png" alt="pdf")
                            div.clear
                    div.clear

                div.company__block
                    div.header-container
                        img(src="assets/img/company-icon-ethics.png" alt="story")
                        div.header 
                            div.table-cell CODICE ETICO
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit
                        a.pdf-link-3(href="#") 
                            div.text-1 Scarica la versione completa
                            div.img-container
                                img.normal(src="assets/img/pdf.png" alt="pdf")
                            div.clear
                    div.clear
                    
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")