doctype html
html
    head
        title CAMIC | Events
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        include includes/header 
        div.main-img(style="background-image: url('assets/img/events-bg.jpg');" alt="news") 
            include includes/menu
            div.search-email-white-container
                div.wrapper
                    include includes/search-email-white
            div.table-cell EVENTI E ATTIVITÁ
        div.wrapper.p-events
            div.icons
                div.icon-container 
                    div.icon
                        img.normal(src="assets/img/news-icon-1-normal.png" alt="")
                        img.active(src="assets/img/news-icon-1-active.png" alt="")
                    div.text Tutti
                
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/project-icon-2-normal.png" alt="")
                        img.active(src="assets/img/project-icon-2-hover.png" alt="")
                    div.text Eventi CAMIC
                div.icon-container
                    div.icon.active
                        img.normal(src="assets/img/news-icon-2-normal.png" alt="")
                        img.active(src="assets/img/news-icon-2-active.png" alt="")
                    div.text Eventi Soci & Partner
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/events-icon-4-normal.png" alt="")
                        img.active(src="assets/img/events-icon-4-hover.png" alt="")
                    div.text Eventi Passati
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/events-icon-5-normal.png" alt="")
                        img.active(src="assets/img/events-icon-5-hover.png" alt="") 
                    div.text Calendario eventi
                div.clear
            div.container
                div.events-block
                    div.event
                        div.bg.event-col(style="background-image: url('assets/img/event-1.jpg')") 
                            div.table-cell
                                div.date 24.12.2017
                                div.time ore 17:00
                        div.info.event-col
                            div.container
                                h4 FALKENSTEINER HOTEL 
                                p Immobiliare e Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                a.contact(href="https://www.google.com/maps/place/Pařížská+68%2F9,+110+00+Praha+1-Josefov,+Чехия/@50.088842,14.4173779,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94e8f8d631cf:0xa52ee09d560f45ac!8m2!3d50.088842!4d14.4195666" target="_blank") Pařížská 68/9, Josefov, 110 00 Praha 1
                                a.phone(href="tel:224256210") 224 25 62 10
                                a.email(href="mailto:info@manghigroup.com") info@manghigroup.com
                                a.site(href="www.manghigroup.com") www.manghigroup.com
                                div.plus-calendar
                                    a.plus(href="events-item.html")
                                        img(src="assets/img/plus-white.png" alt="")
                                    img.calendar(src="assets/img/calendar-white.png" alt="")
                                    div.clear 
                        div.clear

                    div.event
                        div.bg.event-col(style="background-image: url('assets/img/event-2.jpg')") 
                            div.table-cell
                                div.date 24.12.2017
                                div.time ore 17:00
                        div.info.event-col
                            div.container
                                h4 FALKENSTEINER HOTEL 
                                p Immobiliare e Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                a.contact(href="https://www.google.com/maps/place/Pařížská+68%2F9,+110+00+Praha+1-Josefov,+Чехия/@50.088842,14.4173779,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94e8f8d631cf:0xa52ee09d560f45ac!8m2!3d50.088842!4d14.4195666" target="_blank") Pařížská 68/9, Josefov, 110 00 Praha 1
                                a.phone(href="tel:224256210") 224 25 62 10
                                a.email(href="mailto:info@manghigroup.com") info@manghigroup.com
                                a.site(href="www.manghigroup.com") www.manghigroup.com
                                div.plus-calendar
                                    a.plus(href="events-item.html")
                                        img(src="assets/img/plus-white.png" alt="")
                                    img.calendar(src="assets/img/calendar-white.png" alt="")
                                    div.clear 
                        div.clear

                    div.event
                        div.bg.event-col(style="background-image: url('assets/img/event-3.jpg')") 
                            div.table-cell
                                div.date 24.12.2017
                                div.time ore 17:00
                        div.info.event-col
                            div.container
                                h4 FALKENSTEINER HOTEL 
                                p Immobiliare e Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                                a.contact(href="https://www.google.com/maps/place/Pařížská+68%2F9,+110+00+Praha+1-Josefov,+Чехия/@50.088842,14.4173779,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94e8f8d631cf:0xa52ee09d560f45ac!8m2!3d50.088842!4d14.4195666" target="_blank") Pařížská 68/9, Josefov, 110 00 Praha 1
                                a.phone(href="tel:224256210") 224 25 62 10
                                a.email(href="mailto:info@manghigroup.com") info@manghigroup.com
                                a.site(href="www.manghigroup.com") www.manghigroup.com
                                div.plus-calendar
                                    a.plus(href="events-item.html")
                                        img(src="assets/img/plus-white.png" alt="")
                                    img.calendar(src="assets/img/calendar-white.png" alt="")
                                    div.clear 
                        div.clear
               
                button Carica eventi precedenti
                
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")