doctype html
html
    head
        title CAMIC | FAQ
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        include includes/header
        include includes/black-bg
        include login-popup




        div.main-img(style="background-image: url('assets/img/faq-bg.jpg');" alt="index")
            include includes/menu
            div.search-email-white-container
                div.wrapper
                    include includes/search-email-white
            div.table-cell INFORMAZIONI UTILI

        div.wrapper.faq
            div.icons
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/faq-icon-1-normal.png" alt="")
                        img.active(src="assets/img/faq-icon-1-hover.png" alt="")
                    div.text Trasporti
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/news-icon-6-normal.png" alt="")
                        img.active(src="assets/img/news-icon-6-active.png" alt="")
                    div.text Istituzioni Italiane in Rep. Ceca
                div.icon-container
                    div.icon.active
                        img.normal(src="assets/img/project-icon-5-normal.png" alt="")
                        img.active(src="assets/img/project-icon-5-hover.png" alt="") 
                    div.text Istituzioni Ceche In Italia
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/faq-icon-4-normal.png" alt="")
                        img.active(src="assets/img/faq-icon-4-hover.png" alt="")
                    div.text Info Pratiche
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/faq-icon-5-normal.png" alt="")
                        img.active(src="assets/img/faq-icon-5-hover.png" alt="")
                    div.text Scuole di Italiano in Rep. Ceca
                div.clear
                
            div.blue-block
                div.header-container
                    div.header
                        div.table-cell 
                            | VOLI DIRETTI 
                            br 
                            | DA E PER PRAGA
                div.text
                    h4 ROMA FIUMICINO
                    p
                        a(href="#") www.tempor 
                        | incididunt ut labore et dolore 
                    p
                        a(href="#") www.magna aliqua. 
                        | Ut enim ad minim veniam, 
                    p
                        a(href="#") www.quis
                        | nostrud exercitation ullamco laboris nisi 
                    p
                        a(href="#") www.ut
                        | aliquip ex ea commodo consequat.
                    p
                        a(href="#") www.nis
                        | istaspernatur aut odit aut fugit, sed quia 
                    p
                        a(href="#") www.nt
                        | ut labore et dolore magna aliqua. Ut enim 
                    p
                        a(href="#") www.ad
                        | minim veniam, quis nostrud exercita
                    p
                        a(href="#") www.tion
                        | ullamco laboris 
                    div.hidden
                        br
                        br
                        h4 MILANO MALPENSA
                        p
                            a(href="#") www.tempor
                            | incididunt ut labore et dolore 
                        p
                            a(href="#") www.magna aliqua.
                            | Ut enim ad minim veniam, 
                        p
                            a(href="#") www.quis 
                            | nostrud exercitation ullamco laboris nisi 
                        p
                            a(href="#") www.ut   
                            | aliquip ex ea commodo consequat.

                        br
                        br
                        h4 BERGAMO ORIO AL SERIO
                        p
                            a(href="#") www.tempor
                            | incididunt ut labore et dolore 
                        p
                            a(href="#") www.magna aliqua.
                            | Ut enim ad minim veniam, 
                        p
                            a(href="#") www.quis 
                            | nostrud exercitation ullamco laboris nisi 
                        p
                            a(href="#") www.ut   
                            | aliquip ex ea commodo consequat.
                            
                    button.button.blue-block__button Continua a leggere
                        
                div.clear

            div.blue-block
                div.header-container
                    div.header
                        div.table-cell DOCUMENTI NECESSARI
                div.text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    div.hidden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                    
                    button.button.blue-block__button Continua a leggere
                div.clear

            div.blue-block
                div.header-container
                    div.header
                        div.table-cell DOCUMENTI NECESSARI
                div.text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    div.hidden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                    
                    button.button.blue-block__button Continua a leggere
                div.clear
                

        include includes/footer
        include includes/copyright

            
        

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")