form.login-popup
    div.login-popup__close
        img(src="assets/img/close.png" alt="close")
    h4 Log in
    input.login-popup__input.name(id="name" placeholder="Name") 
    input.login-popup__input.password(id="password" placeholder="Password")
    button.login-popup__button Log in