doctype html
html
    head
        title CAMIC | Member to member
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body     
        include includes/header-2
        include includes/member-to-member-popup
        include includes/black-bg
        include login-popup
        

        div.menu.fixed    
            div.wrapper 
                div.black(id="hamburger")
                    div.line.line--1
                    div.line.line--2
                    div.line.line--3

                div.menu__logo
                    a(href="index.html")
                        img(src="assets/img/logo-transparent.png" alt="logo")
                ul.menu__menu
                    li.submenu-1
                        a 
                            span LA CAMERA
                        ul.submenu-1-ul
                            li
                                a(href="company.html") 
                                    span
                                        nobr Chi siamo
                            li.submenu-2
                                a
                                    span
                                        nobr Organizzazione
                                        div.menu-triangle
                                            img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                            img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                ul.submenu-2-ul
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Consiglio Direttivo
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Collegio dei Revisori
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Collegio dei Probiri
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Staff
                            li
                                a(href="request.html") 
                                    span
                                        nobr Richiesta di Patrocinio
                    li
                        a(href="news.html") 
                            span NEWS

                    li
                        a(href="events.html") 
                            span EVENTI E ATTIVITÁ
                    li.submenu-1
                        a
                            span SERVIZI
                        ul.submenu-1-ul
                            li
                                a(href="services.html") 
                                    span
                                        nobr Attivitá di promozione
                            li
                                a(href="services-business.html")
                                    span
                                        nobr Servizi alle imprese
                    li
                        a(href="associate.html") 
                            span SOCI
                    li
                        a(href="partners.html") 
                            span PARTNER
                    li
                        a(href="projects.html") 
                            span PROGETTI
                    li
                        a(href="gallery.html") 
                            span GALLERY
                    li.login
                        a(href="#") LOGIN
                    li.clear
                div.clear






        div.breadcrumbs
            div.container
                a(href="associate.html") torna indietro
        div.wrapper.member-to-member
            div.container
                h1 MEMBER TO MEMBER
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 

                div.index-news
                    div.news-block
                        div.news
                            div.bg(style="background-image: url('assets/img/news-1.jpg');")
                            div.text Quattro imprese italiane in gara per la costruzione dell' autostrada D3 in Sud Boemia
                            div.date 13.12.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear
                        div.news
                            div.bg(style="background-image: url('assets/img/news-2.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear
                        div.news
                            div.bg(style="background-image: url('assets/img/news-3.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear

                        div.news
                            div.bg(style="background-image: url('assets/img/news-4.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear
                        div.news
                            div.bg(style="background-image: url('assets/img/news-5.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear
                        div.news
                            div.bg(style="background-image: url('assets/img/news-6.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear

                        div.news
                            div.bg(style="background-image: url('assets/img/news-7.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear
                        div.news
                            div.bg(style="background-image: url('assets/img/news-8.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear
                        div.news
                            div.bg(style="background-image: url('assets/img/news-9.jpg');")
                            div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                            div.date 04.07.2016
                            div.plus.member-to-member-button
                                img(src="assets/img/plus.png" alt="plus")
                            div.clear

                        div.clear
                
                button Carica altri 
                
        include includes/footer
        include includes/copyright


        

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")