doctype html
html
    head
        title CAMIC | News-item
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        include includes/header-2
        include includes/black-bg
        include login-popup


        div.menu.fixed    
            div.wrapper 
                div.black(id="hamburger")
                    div.line.line--1
                    div.line.line--2
                    div.line.line--3

                div.menu__logo
                    a(href="index.html")
                        img(src="assets/img/logo-transparent.png" alt="logo")
                ul.menu__menu
                    li.submenu-1
                        a 
                            span LA CAMERA
                        ul.submenu-1-ul
                            li
                                a(href="company.html") 
                                    span
                                        nobr Chi siamo
                            li.submenu-2
                                a
                                    span
                                        nobr Organizzazione
                                        div.menu-triangle
                                            img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                            img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                ul.submenu-2-ul
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Consiglio Direttivo
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Collegio dei Revisori
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Collegio dei Probiri
                                    li
                                        a(href="auditors.html") 
                                            span
                                                nobr Staff
                            li
                                a(href="request.html") 
                                    span
                                        nobr Richiesta di Patrocinio
                    li
                        a(href="news.html") 
                            span NEWS

                    li
                        a(href="events.html") 
                            span EVENTI E ATTIVITÁ
                    li.submenu-1
                        a
                            span SERVIZI
                        ul.submenu-1-ul
                            li
                                a(href="services.html") 
                                    span
                                        nobr Attivitá di promozione
                            li
                                a(href="services-business.html")
                                    span
                                        nobr Servizi alle imprese
                    li
                        a(href="associate.html") 
                            span SOCI
                    li
                        a(href="partners.html") 
                            span PARTNER
                    li
                        a(href="projects.html") 
                            span PROGETTI
                    li
                        a(href="gallery.html") 
                            span GALLERY
                    li.login
                        a(href="#") LOGIN
                    li.clear
                div.clear






        div.breadcrumbs-2
            div.wrapper
                img(src="assets/img/breadcrumbs-camic.png" alt="")
                div.container
                    a(href="events.html") torna indietro 
        div.wrapper.news-item
            div.container
                h1 Quattro imprese italiane in gara per la costruzione dell'autostrada D3 in Sud Boemia
                div.date 13.12.2016

                p Le imprese italiane continuano a presentarsi nelle gare pubbliche per la costruzione di nuove infrastrutture.
                p 
                    | Secondo un elenco divulgato dal 
                    b Direttorato di Strade e Autostrade, 
                    | quattro imprese italiane hanno mandato le loro offerte per due gare d'appalto per l'assegnazione della costruzione di due segmenti di autostrada D3. In entrambe le gare hanno presentato le loro offerte 15 società e consorzi, tra cui la joint venture tra l'italiana 
                    b Grandi Lavori Fincosit Spa 
                    | e la locale 
                    b Firesta – Fišer a.s, 
                    | la joint venture tra 
                    b Toto Spa Costruzioni Generali 
                    | e 
                    b Geosan a.s., 
                    | il consorzio 
                    b Sdružení pro D3 0310/II Hodějovice – Třebonín 
                    | capitanato da 
                    b Astaldi Spa 
                    | e la 
                    b società Salini – Impregilo Spa, 
                    | che corre da sola.

                p
                    | Le imprese italiane continuano a presentarsi nelle gare pubbliche per la costruzione di nuove infrastrutture.
                    img(src="assets/img/news-img.jpg" alt="")

                p
                    | Secondo un elenco divulgato dal 
                    b Direttorato di Strade e Autostrade, 
                    | quattro imprese italiane hanno mandato le loro offerte per due gare d'appalto per l'assegnazione della costruzione di due segmenti di autostrada D3. In entrambe le gare hanno presentato le loro offerte 15 società e consorzi, tra cui la joint venture tra l'italiana 
                    b Grandi Lavori Fincosit Spa 
                    | e la locale 
                    b Firesta – Fišer a.s,
                    | la joint venture tra 
                    b Toto Spa Costruzioni Generali e Geosan a.s.,
                    | il consorzio 
                    b Sdružení pro D3 0310/II Hodějovice – Třebonín
                    | capitanato da 
                    b Astaldi Spa e la società Salini – Impregilo Spa, 
                    | che corre da sola.
                
                div.clear

                include includes/swiper-2

                div.quote Challenge accepted. Challenging and engaging work. — This is only a quotation style

                p
                    | Oggetto della gara è la costruzione del tratto 
                    b Úsilné – Hodějovice
                    | di 7,2 chilometri e del tratto 
                    b Hodějovice – Třebonín
                    | di 12,5 chilometri. Nel primo tratto si prevede la costruzione una galleria di circa un chilometro e quindi ponti per un valore complessivo stimato di 3,2 miliardi di corone. Il secondo tratto dovrebbe costare 4,5 miliardi di corone. La costruzione dovrebbe cominciare nel 2017 e le opere dovrebbero essere completate nel 2020.
                    br
                    b L'autostrada D3
                    | è un'infrastruttura chiave in quanto dovrebbe collegare 
                    b Praga con il Sud Boemia e la città austriaca di Linz.
                    | Attualmente è in funzione solo un tratto di 42 chilometri sui 175 chilometri complessivi. La costruzione del tratto di autostrada in Boemia Centrale è stato fortemente ritardato dalla cancellazione del tracciato, a seguito di alcune sentenza emesse dai tribunali. La parte dell'autostrada in Sud Boemia dovrebbe essere completata nel 2022.
               
        include includes/social-small
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")