doctype html
html
    head
        title CAMIC | Organization
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        
        include includes/header
        include includes/black-bg
        include login-popup

        div.main-img(style="background-image: url('assets/img/organization.jpg');" alt="services")
             
            div.menu    
                div.wrapper 
                    include includes/hamburger
                    div.menu__logo
                        a(href="index.html")
                            img(src="assets/img/logo-transparent.png" alt="logo")
                    ul.menu__menu
                        li.submenu-1
                            a 
                                span LA CAMERA
                            ul.submenu-1-ul
                                li
                                    a(href="company.html") 
                                        span
                                            nobr Chi siamo
                                li.submenu-2
                                    a
                                        span
                                            nobr Organizzazione
                                            div.menu-triangle
                                                img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                                img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                    ul.submenu-2-ul
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Consiglio Direttivo
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Revisori
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Probiri
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Staff
                                li
                                    a(href="request.html") 
                                        span
                                            nobr Richiesta di Patrocinio
                        li
                            a(href="news.html") 
                                span NEWS

                        li
                            a(href="events.html") 
                                span EVENTI E ATTIVITÁ
                        li.submenu-1
                            a
                                span SERVIZI
                            ul.submenu-1-ul
                                li
                                    a(href="services.html") 
                                        span
                                            nobr Attivitá di promozione
                                li
                                    a(href="services-business.html")
                                        span
                                            nobr Servizi alle imprese
                        li
                            a(href="associate.html") 
                                span SOCI
                        li
                            a(href="partners.html") 
                                span PARTNER
                        li
                            a(href="projects.html") 
                                span PROGETTI
                        li
                            a(href="gallery.html") 
                                span GALLERY
                        li.login
                            a(href="#") LOGIN
                        li.clear
                    div.clear


            div.search-email-white-container
                div.wrapper
                    include includes/search-email-white
            div.table-cell ORGANIZZAZIONE


        div.wrapper.organization
            div.links
                a.circle-2(href="auditors.html")
                    span Consiglio Direttivo
                a.circle-2(href="auditors.html")
                    span Collegio dei&nbsp;Revisori
                a.circle-2(href="auditors.html")
                    span Consiglio dei&nbsp;Probiviri
                a.circle-2(href="auditors.html")
                    span Staff
                div.clear
              
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")