doctype html
html
    head
        title CAMIC | Partners
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        
        include includes/header
        include includes/black-bg
        include includes/partner-popup
        include login-popup

        div.main-img(style="background-image: url('assets/img/associate.jpg');" alt="services")
             
            div.menu    
                div.wrapper 
                    include includes/hamburger
                    div.menu__logo
                        a(href="index.html")
                            img(src="assets/img/logo-transparent.png" alt="logo")
                    ul.menu__menu
                        li.submenu-1
                            a 
                                span LA CAMERA
                            ul.submenu-1-ul
                                li
                                    a(href="company.html") 
                                        span
                                            nobr Chi siamo
                                li.submenu-2
                                    a
                                        span
                                            nobr Organizzazione
                                            div.menu-triangle
                                                img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                                img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                    ul.submenu-2-ul
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Consiglio Direttivo
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Revisori
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Probiri
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Staff
                                li
                                    a(href="request.html") 
                                        span
                                            nobr Richiesta di Patrocinio
                        li
                            a(href="news.html") 
                                span NEWS

                        li
                            a(href="events.html") 
                                span EVENTI E ATTIVITÁ
                        li.submenu-1
                            a
                                span SERVIZI
                            ul.submenu-1-ul
                                li
                                    a(href="services.html") 
                                        span
                                            nobr Attivitá di promozione
                                li
                                    a(href="services-business.html")
                                        span
                                            nobr Servizi alle imprese
                        li
                            a(href="associate.html") 
                                span SOCI
                        li
                            a.active(href="partners.html") 
                                span PARTNER
                        li
                            a(href="projects.html") 
                                span PROGETTI
                        li
                            a(href="gallery.html") 
                                span GALLERY
                        li.login
                            a(href="#") LOGIN
                        li.clear
                    div.clear


            div.search-email-white-container
                div.wrapper
                    include includes/search-email-white
            div.table-cell PARTNER


        div.wrapper.partners
            div.icons
                div.icon-container
                    div.icon
                        img.normal(src="assets/img/news-icon-1-normal.png" alt="")
                        img.active(src="assets/img/news-icon-1-active.png" alt="")
                    div.text Tutti

                div.icon-container
                    div.icon
                        img.normal(src="assets/img/news-icon-6-normal.png" alt="")
                        img.active(src="assets/img/news-icon-6-active.png" alt="")
                    div.text 
                        | Partner
                        br
                        | in Italia

                div.icon-container
                    div.icon
                        img.normal(src="assets/img/project-icon-5-normal.png" alt="")
                        img.active(src="assets/img/project-icon-5-hover.png" alt="")
                    div.text 
                        | Partner
                        br
                        | in Repubblica Ceca

                div.clear

        

            div.container
                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-arch-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-arch-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-zf-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-zf-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-zerply-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-zerply-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-shopify-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-shopify-normal.png" alt="partner")


                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-teads-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-teads-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-lg-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-lg-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-gelatiamo-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-gelatiamo-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-wp-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-wp-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-lg-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-lg-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-shopify-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-shopify-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-wp-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-wp-normal.png" alt="partner")

                div.partner.circle-2
                    div.table-cell
                        div.active
                            img(src="assets/img/partner-zerply-active.png" alt="partner")
                        div.normal
                            img(src="assets/img/partner-zerply-normal.png" alt="partner")
                div.clear
                button Carica altri
              
        include includes/footer
        include includes/copyright

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")