doctype html
html
    head
        title CAMIC | Services business
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet")
    body
        
        include includes/header
        include includes/black-bg
        include login-popup


        div.main-img(style="background-image: url('assets/img/services.jpg');" alt="organization")
             
            div.menu    
                div.wrapper 
                    include includes/hamburger
                    div.menu__logo
                        a(href="index.html")
                            img(src="assets/img/logo-transparent.png" alt="logo")
                    ul.menu__menu
                        li.submenu-1
                            a 
                                span LA CAMERA
                            ul.submenu-1-ul
                                li
                                    a(href="company.html") 
                                        span
                                            nobr Chi siamo
                                li.submenu-2
                                    a
                                        span
                                            nobr Organizzazione
                                            div.menu-triangle
                                                img.blue(src="assets/img/triangle-blue.png" alt="triangle")
                                                img.gray(src="assets/img/triangle-gray.png" alt="triangle")
                                    ul.submenu-2-ul
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Consiglio Direttivo
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Revisori
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Collegio dei Probiri
                                        li
                                            a(href="auditors.html") 
                                                span
                                                    nobr Staff
                                li
                                    a(href="request.html") 
                                        span
                                            nobr Richiesta di Patrocinio
                        li
                            a(href="news.html") 
                                span NEWS

                        li
                            a(href="events.html") 
                                span EVENTI E ATTIVITÁ
                        li.submenu-1
                            a.active
                                span SERVIZI
                            ul.submenu-1-ul
                                li
                                    a(href="services.html") 
                                        span
                                            nobr Attivitá di promozione
                                li
                                    a(href="services-business.html")
                                        span
                                            nobr Servizi alle imprese
                        li
                            a(href="associate.html") 
                                span SOCI
                        li
                            a(href="partners.html") 
                                span PARTNER
                        li
                            a(href="projects.html") 
                                span PROGETTI
                        li
                            a(href="gallery.html") 
                                span GALLERY
                        li.login
                            a(href="#") LOGIN
                        li.clear
                    div.clear


            div.search-email-white-container
                div.wrapper
                    include includes/search-email-white
            div.table-cell servizi alle imprese
        div.wrapper.services-business  
            
            div.tabs
                div.tab-container
                    a.tab.tab--chat(href="#")
                        div.tab-img.inactive
                        div.tab-img.active
                    div.tab-text Ricerca Partner
                div.tab-container
                    a.tab.tab--reporting(href="#")
                        div.tab-img.inactive
                        div.tab-img.active
                    div.tab-text Reportistica
                div.tab-container
                    a.tab.tab--work.active(href="http://google.com" target="_blank")
                        div.tab-img.inactive
                        div.tab-img.active
                    div.tab-text 
                        span.blue Lavoro.
                        span.red cz
                div.clear

            a.pdf-link-2(href="#") 
                div.text Scarica il pdf informativo
                div.img-container
                    img.normal(src="assets/img/pdf.png" alt="pdf")
                    img.active(src="assets/img/pdf-2.png" alt="pdf")
                div.clear

            div.blocks
                div.blue-block
                    div.header-container
                        div.header
                            div.table-cell ELABORAZIONE DATABASE PERSONALIZZATO LIVELLO BASE (cod. ricerca B1)
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamLorem ipsu
                        div.hidden
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                        
                        button.button.blue-block__button Continua a leggere
                    div.clear

                div.blue-block
                    div.header-container
                        div.header
                            div.table-cell RICERCA PARTNER MIRATA LIVELLO PREMIUM (cod. ricerca B2)
                    div.text
                        div.contacts
                            div.c-header PER INFORMAZIONI
                            div.name Agáta Zábranská
                            div.post Servizi e assistenza imprese 
                            a.phone(href="tel:00420222015312") 00420 222 015 312
                            a.email(href="mailto:imprese@camic.cz") info@manghigroup.com
                        div.hidden
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamLorem ipsu                      
                            p m dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris co laboris 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                        button.button.blue-block__button Continua a leggere
                    div.clear
              
                div.blue-block
                    div.header-container
                        div.header
                            div.table-cell MISSIONE INDIVIDUALE ORGANIZZAZIONE AGENDA DI INCONTRI B2B
                    div.text
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        div.hidden
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. nis istaspernatur aut odit aut fugit, sed quia nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris                        
                        button.button.blue-block__button Continua a leggere
                    div.clear
              
        include includes/footer
        include includes/copyright


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="assets/js/app.min.js")