.company{
    margin: 0 0 50px 0;
    &__block{
        margin: 0 0 46px 0;
    }
    .main-img{
        margin: 0 0 62px 0;
        .container{
            display: table;
            margin: 0 auto;
        }
        img{
            float: left;
            margin: 0px 13px 0 0;
        }
        h1{
            font-size: 100%;
            float: left;
            margin: 2px 0 0 0;
        }
    }

    .header-container{
        background: #0059b2;
        border-bottom: 3px solid #007fff;
        border-left: 3px solid #007fff;
        border-top: 3px solid #007fff;
        color: #fff;
        float: left;
        font-size: 175%;
        font-weight: 500;
        margin: 70px 0 0;
        padding: 0 0 0 2.3%;
        position: relative;
        width: 32.2%;
        img{
            position: absolute;
            right: -121px;
            top: 19px;
        }
    }
    .header{
        display: table; 
        height: 281px;       
    }
    .text{
        background: #007fff;
        color: #fff;
        float: left;
        font-size: 115%;
        min-height: 314px;
        padding: 63px 7% 31px 14.3%; 
        width: 43.5%;
        p{
            font-size: 120%;
            line-height: 125%;
            margin: 0 0 25px; 
            font-weight: 400;
        }
    }
}

@media(max-width: 1280px){
    .company{
        .header{
            height: auto;
            text-align: center;
            width: 100%;
        }
        .header-container{
            padding: 0 0 42px 0;
            width: 32.2%;
            img{
                display: block;
                margin: 53px auto 25px;
                position: relative;
                right: 0;
                top: 0;
                width: 190px;
            }
        }
    }
}

@media(max-width: 1040px){
    .company{
        &__block{
            background: #007fff;
        }        
        .header-container{
            border: none;
            float: none;
            margin: 0;
            padding: 2px 13% 54px; 
            text-align: center;
            width: 74%;
        }
        .text{
            float: none;
            min-height: auto;
            padding: 70px 7% 52px 10.3%;
            width: 76.5%;
        }
        .header{
            width: 100%;
        }
    }
}

@media(max-width: 640px){
    .company{
        .header{
            /*height: 244px;*/
        }
    }
}

@media(max-width: 370px){
    .company{
        .header-container{
            font-size: 125%;
        }
        .text{
            p{
                font-size: 100%;
            }
        }
    }
}