.gallery-item{
    .container{
        margin: 0 auto;
        max-width: 1134px;
    }
    h1{
        color: #077600;
        font-size: 235%;
        font-weight: normal;
        line-height: 120%;
        margin: 20px 0 14px 0;
    }
    .date{
        color: #515151;
        font-size: 165%;
        margin: 14px 0 19px 0;
    }
    .img-container{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: table;
        height: 399px;
        margin: 65px 0 0 0;
        text-align: center;
        width: 100%;
        a{
            margin: 0 13px;
            opacity: 0.7;
            img{
                opacity: 0;
                transition: 0.4s ease;
            }
        }
        &:hover{
            a{
                img{
                    opacity: 1;
                }
            }
        }
    }
    .swiper-container-horizontal{
        img{
            margin-top: 0;
        }
    }
}

.gallery-item ~ footer{
    margin-top: 85px;
}