.news-item{
    .container{
        margin: 0 auto;
        max-width: 1134px;
    }
    h1{
        color: #077600;
        font-size: 235%;
        font-weight: normal;
        line-height: 120%;
        margin: 20px 0 14px 0;
        padding: 0 94px 0 0;
    }
    .date{
        color: #515151;
        font-size: 165%;
        margin: 14px 0 19px 0;
    }
    p{
        color: #515151;
        font-size: 110%;
        line-height: 130%;
        margin: 19px 0 19px;
        img{
            float: left;
            margin: 25px 29px 0 0;
            max-width: 100%;
        }
    }
}

@media(max-width: 520px){
    .quote{
        font-size: 125%;
    }
    .news-item{
        h1{
            font-size: 180%;
        }
    }
}