footer
    div.container
        div.col-1
            div.logo
                img(src="assets/img/footer-logo.png" alt="")
                div.logo-text Camera di Commercio e dell’Industria Italo-Ceca
                div.clear
            div.contacts
                div.contact Husova 159/25, 110 00 Praga 1 - Repubblica Ceca
                div.contact
                    | Tel: 
                    a(href="tel:+420222015300") +420 222 015 300
                    | - Fax: 
                    a(href="fax:+420222015301") +420 222 015 301
                div.contact 
                    | Email: 
                    a(href="mailto:info@camic.cz") info@camic.cz 
                div.social
                    a.social-icon(href="#")
                        img.normal(src="assets/img/footer-facebook-normal.png" alt="facebook")
                        img.hover(src="assets/img/footer-facebook-hover.png" alt="facebook")
                    a.social-icon(href="#")
                        img.normal(src="assets/img/footer-twitter-normal.png" alt="twitter")
                        img.hover(src="assets/img/footer-twitter-hover.png" alt="twitter")
                    a.social-icon(href="#")
                        img.normal(src="assets/img/footer-linked-normal.png" alt="linked")
                        img.hover(src="assets/img/footer-linked-hover.png" alt="linked")
                    div.clear
        div.col-2
            div.header Newsletter
            div.events
                div.event.circle
                    div.table-cell
                        div.text CamicNet
                        div.date 12.12.2016
                div.event.circle
                    div.table-cell
                        div.text CamicNet
                        div.date 22.12.2016
                div.event.circle
                    div.table-cell
                        div.text CamicNet
                        div.date 27.12.2016
                div.clear
            div.input-container
                label(for="footer-input") Resta aggiornato sulle ultime novità CAMIC
                input(id="footer-input" placeholder="Inserisci la tua email")
                button.footer-input-button ISCRIVITI
        div.clear
        div.bottom
            div.text Copyright (C) 2017 Italsko-česká smíšená obchodní a průmyslová komora, Husova 159/25, 110 00 Praga 1, Česká Republika, IČO: 26754665 
            div.text Všechna práva vyhrazena | Vyrobil Nilobit CZ s.r.o. | Administrace webu | Prohlášení o soukromí | Právní informace