header.header-2 
    div.wrapper
        div.header Camera di Commercio e dell’Industria Italo-Ceca
        a.it(href="#")
            img(src="assets/img/it.png" alt="it")
        a.cz(href="#")
            img(src="assets/img/cz.png" alt="cz")    

        form
            input.search-white-input  
        img.search-white(src="assets/img/search-small-black.png" alt="")
        a.link(href="faq.html") Informazioni utili
        a.email(href="mailto:info@manghigroup.com")
            img(src="assets/img/email-small-black.png" alt="")
        div.clear           