header
    div.wrapper
        div.header Camera di Commercio e dell’Industria Italo-Ceca
        a.it(href="#")
            img(src="assets/img/it.png" alt="it")
        a.cz(href="#")
            img(src="assets/img/cz.png" alt="cz")        
        div.clear