div.index-events
    div.container
        div.index-events__col.index-events__col--1
            div.event(style="background-image: url('assets/img/index-event-1.jpg');")
                div.info
                    div.table
                        div.table-cell
                            div.text Camic Summer Party 
                            div.date 13.07.2016
                        a.plus(href="events-item.html")
                            img(src="assets/img/plus.png" alt="plus")

            div.event(style="background-image: url('assets/img/index-event-2.jpg');")
                div.info
                    div.table
                        div.table-cell
                            div.text Camic Summer Party 
                            div.date 13.07.2016
                        a.plus(href="events-item.html")
                            img(src="assets/img/plus.png" alt="plus")

            div.event(style="background-image: url('assets/img/index-event-3.jpg');")
                div.info
                    div.table
                        div.table-cell
                            div.text Camic Summer Party 
                            div.date 13.07.2016
                        a.plus(href="events-item.html")
                            img(src="assets/img/plus.png" alt="plus")

        div.index-events__col.index-events__col--2
            div.container
                div.header Prossimi eventi
                img.decoration(src="assets/img/header-decoration-2.png" alt="")
                div.tab-container
                    a.tab(href="events-1.html")
                        img.normal(src="assets/img/index-icon-1-normal.png" alt="")
                        img.active(src="assets/img/index-icon-1-active.png" alt="")
                    div.tab-text I nostri eventi
                div.tab-container
                    a.tab(href="events-2.html")
                        img.normal(src="assets/img/index-icon-2-normal.png" alt="")
                        img.active(src="assets/img/index-icon-2-active.png" alt="")
                    div.tab-text Eventi dei nostri Soci e Partner
                a.index-events__button(href="events.html") Tutti gli eventi
                img(src="assets/img/mattoni-index.jpg" alt="mattoni")
        div.clear