div.index-two-blocks.wrapper
    div.block
        div.info
            div.table
                div.header Progetti
                img(src="assets/img/header-decoration-3.png" alt="header-decoration")
                a.text(href="member-to-member.html") Member to member
                div.text Projects Name
                div.text Other Projects Name
                a.button(href="projects.html") Vedi tutti
    div.block
        div.info
            div.table
                img(src="assets/img/lavoro.png" alt="lavoro")
                p Il portale del lavoro in Repubblica Ceca Portál práce nejen s italštinou
                a.button(href="http://www.lavoro.cz" target="_blank") Cerca negli annunci
    div.clear