div.index-slider
    div.header Partner
    img.decoration(src="assets/img/header-decoration.png" alt="decoration")
    
    div.index-slider__container
        div.swiper-wrapper
            div.swiper-slide 
                img(src="assets/img/slide-1.jpg" alt="")
            div.swiper-slide 
                img(src="assets/img/slide-2.jpg" alt="")
            div.swiper-slide
                img(src="assets/img/slide-3.jpg" alt="")
            div.swiper-slide
                img(src="assets/img/slide-4.jpg" alt="")
            div.swiper-slide 
                img(src="assets/img/slide-1.jpg" alt="")
            div.swiper-slide 
                img(src="assets/img/slide-2.jpg" alt="")

    div.index-slider__buttons
        div.index-slider__next
            img(src="assets/img/arrow-right.png" alt="right")
        div.index-slider__prev
            img(src="assets/img/arrow-left.png" alt="left")

    a.index-slider__button(href="partners.html") Vedi tutti