div.index-news
    div.container
        div.header Ultime News
        img.header-decoration(src="assets/img/header-decoration-2.png" alt="header-decoration")
        div.news-block
            div.news
                div.bg(style="background-image: url('assets/img/news-1.jpg');")
                div.text Quattro imprese italiane in gara per la costruzione dell' autostrada D3 in Sud Boemia
                div.date 13.12.2016
                a.plus(href="news-item.html")
                    img(src="assets/img/plus.png" alt="plus")
                div.clear
            div.news
                div.bg(style="background-image: url('assets/img/news-2.jpg');")
                div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                div.date 04.07.2016
                a.plus(href="news-item.html")
                    img(src="assets/img/plus.png" alt="plus")
                div.clear
            div.news
                div.bg(style="background-image: url('assets/img/news-3.jpg');")
                div.text Corso Evropska diventerà il nuovo quartire amministrativo?
                div.date 04.07.2016
                a.plus(href="news-item.html")
                    img(src="assets/img/plus.png" alt="plus")
                div.clear
            div.clear
        a.index-news__button(href="news.html") Tutte le news