div.index-text
    div.container
        div.text La Camera Italo-Ceca offre un’ampia gamma di servizi volti alla realizzazione di attività promozionali e di supporto
        div.link-container
            a.index-text__link(href="services.html") Scopri di più
        div.clear
    