div.index-factoids
    div.container
        div.table-cell
            div.block
                div.factoid 360
                div.text aziende associate
            div.block
                div.factoid +1270
                div.text missioni commerciali
            div.block
                div.factoid 619
                div.text eventi all’anno
            div.block
                div.factoid + 2500
                div.text Logistics Management
            div.clear