div.partner-popup
    div.close.close-parnters
        img(src="assets/img/close.png" alt="close")
    div.header GAMANA s.r.o.
    div.params
        div.col-1
            div.param
                span.span-1 Settore: 
                span.span-2  Immobiliare e costruzioni
            div.param
                span.span-1 Attivitá: 
                span.span-2  Servizi e gestione immobiliari
            div.param
                span.span-1 Rappresentante legale: 
                span.span-2  Danilo Manghi 
            div.param
                span.span-1 Persona di contatto: 
                span.span-2  Vera Vasela 
            div.param
                span.span-1 Socio da: 
                span.span-2  25/01/2012
        div.col-2
            img(src="assets/img/arch-big.png" alt="")
        div.clear
    div.contacts
        div.col-1
            div.address Pařížská 68/9, Josefov, 110 00 Praha 1
            a.phone(href="tel:224256210") 224 25 62 10
            a.email(href="mailto:info@manghigroup.com") info@manghigroup.com
            a.site(href="http://www.manghigroup.com") www.manghigroup.com 
        div.col-2
            a.map(href="https://www.google.com/maps/place/Pařížská+68%2F9,+110+00+Praha+1-Josefov,+Чехия/@50.088842,14.4173779,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94e8f8d631cf:0xa52ee09d560f45ac!8m2!3d50.088842!4d14.4195666" target="_blank") vedi mappa
        div.clear