form
    input.search-white-input  
img.search-white(src="assets/img/search-index.png" alt="")
a.link(href="faq.html") Informazioni utili
a.email(href="mailto:info@manghigroup.com")
    img(src="assets/img/email-index.png" alt="")
div.clear