div.social-small
    a.icon.icon--twitter
        img.normal(src="assets/img/twitter-small-normal.png" alt="twitter")
        img.active(src="assets/img/twitter-small-active.png" alt="twitter")

    a.icon.icon--facebook
        img.normal(src="assets/img/facebook-small-normal.png" alt="facebook")
        img.active(src="assets/img/facebook-small-active.png" alt="facebook")

    a.icon.icon--linkedin
        img.normal(src="assets/img/linkedin-small-normal.png" alt="linkedin")
        img.active(src="assets/img/linkedin-small-active.png" alt="linkedin")