div.swiper-container
    div.swiper-wrapper
        div.swiper-slide 
            img(src="assets/img/unicredit.png" alt="unicredit")
        div.swiper-slide 
            img(src="assets/img/ferrero.png" alt="ferrero")
        div.swiper-slide
            img(src="assets/img/mattoni.png" alt="mattoni")
        div.swiper-slide
            img(src="assets/img/siad.png" alt="siad")

        div.swiper-slide 
            img(src="assets/img/unicredit.png" alt="unicredit")
        div.swiper-slide 
            img(src="assets/img/ferrero.png" alt="ferrero")


div.swiper-pagination

div.swiper-buttons-container
    div.swiper-button-next
        img(src="assets/img/arrow-right.png" alt="right")
    div.swiper-button-prev
        img(src="assets/img/arrow-left.png" alt="left")