div.slide-2.slide-2--project
    div.swiper-wrapper
        
        a.swiper-slide.swiper-2(href="assets/img/slide-6.jpg" rel="group") 
            img(src="assets/img/slide-6.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-7.jpg" rel="group") 
            img(src="assets/img/slide-7.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-8.jpg" rel="group") 
            img(src="assets/img/slide-8.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-9.jpg" rel="group") 
            img(src="assets/img/slide-9.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-10.jpg" rel="group") 
            img(src="assets/img/slide-10.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-6.jpg" rel="group") 
            img(src="assets/img/slide-6.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-7.jpg" rel="group") 
            img(src="assets/img/slide-7.jpg" alt="")
        a.swiper-slide.swiper-2(href="assets/img/slide-8.jpg" rel="group") 
            img(src="assets/img/slide-8.jpg" alt="")


div.swiper-buttons-container
    div.swiper-2-button-next
        img(src="assets/img/slider-2-next-normal.png" alt="right")
    div.swiper-2-button-prev
        img(src="assets/img/slider-2-prev-hover.png" alt="left")